<!DOCTYPE html>
<html lang="zh">

<head>
    <title>Vue JS</title>
    <meta charset="UTF-8">
    <!-- 页面不缓存 -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="../../../css/common.css" rel="stylesheet" type="text/css" />
    <script src="../../../scripts/common/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="../../../scripts/common/vue.js" type="text/javascript"></script>
</head>

<body>
    <h3>Vue JS 练习：综合数据列表</h3>
    <!-- 3. View -->
    <div id="app">
        <form>
            <label>姓名：</label><input type="text" v-model="person.name" /><br>
            <label>年龄：</label><input type="text" v-model="person.age" /><br>
            <label>手机：</label><input type="text" v-model="person.phone" /><br>
            <button @click.prevent="addUser">新增</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>手机</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(person,idx) in persons">
                    <td>{{person.name}}</td>
                    <td>{{person.age}}</td>
                    <td>{{person.phone}}</td>
                    <td><button @click="delUser(idx)">删除</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script>
    $(function () {
        // 1. 创建数据Model
        var exampleData = {
            person: {
                "name": "",
                "age": "",
                "phone": ""
            },
            persons: []
        };

        // 2. 创建Vue实例（ViewModel）
        var app = new Vue({
            el: "#app", // el: vue 对象挂载的View 对象
            data: exampleData, // data：Model 数据
            methods: {
                addUser: function () {
                    this.persons.push(this.person);
                    this.person = {};
                },
                delUser: function (idx) {
                    console.log(idx);
                    this.persons.splice(idx, 1);
                }
            }
        });
    });
</script>

</html>