@charset "UTF-8";
$val: 10;
// if - else
.class4 {
	clear: both;
	@if $val < 10 {
		background-color: red;
	} @else {
		background-color: green;
	}
}
// for or each
@for $i from 1 to 10 {
	.border-#{$i} {
		border: #{$i}px sold blue;
	}
}
@each $member in a,b,c,d {
	.#{$member} {
		background-color: yellow;
	}
}
// while
$n: 6;
@while $n > 0 {
	.item-#{$n} {
		width: 2em * $n;
	}
	$n: $n - 1;
}

// custom function
@function double($val: 1px) {
	@return $val * 2;
}
#sideber {
	width: double(5px);
}