<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//database.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gyw.mybatis.mapper.UserMapper">

    <resultMap id="userMap" type="user">
        <id property="id" column="id"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <association property="role" javaType="role">
            <id property="id" column="id"/>
            <result column="value" property="value" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <select id="queryAll" resultMap="userMap">
        select * from user t1 inner join role t2 on t1.role_id = t2.id
    </select>

    <resultMap id="userAssociationMap" type="java.util.HashMap">
        <id property="id" column="id"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <association property="firstName" javaType="map">
            <result property="secondName" column="second_name"/>
            <result property="age" column="age"/>
        </association>
        <association property="role" javaType="role">
            <id property="id" column="id"/>
            <result column="value" property="value" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <!--一对一关联（单表）-->
    <select id="findByOneToOne" resultMap="userAssociationMap">
        select * from user
    </select>

    <!-- 实现用户排行榜 -->
    <select id="rankByCoin" resultType="map">
        select * from (
            SELECT t1.*,@rank :=@rank+1 as rank from user t1 join (select @rank :=0) t2
            order by coin desc,created_time
        ) t3
    </select>
</mapper>
